# Copy this file to .env and fill in the values
# Example:
# USER_EMAIL=your@email.com

# Web
VITE_WEB_URL_BASE=http://localhost
VITE_WEB_URL_PORT=3000

# Server
VITE_API_URL_BASE=http://localhost
VITE_API_URL_PORT=3001

DATABASE_URL=packages/data/dev.sqlite
