# Dev Seed
# SEED_EMAIL=you@example.com

# Web
PUBLIC_WEB_URL_BASE=http://localhost
PUBLIC_WEB_URL_PORT=4321

# API
PUBLIC_API_URL_BASE=http://localhost
PUBLIC_API_URL_PORT=3001

# Jobs
NOTIFY_DEV_PORT=8788

# Resend
RESEND_API_KEY="re_xyz"
RESEND_FROM_EMAIL="dev@dotheyplay.today"

# Database - set exactly one of the two depending on host
# DATABASE_URL=libsql://example.com
DATABASE_FILE=packages/data/dev.sqlite
